*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Ob]ject/
[Oo]bj/

.idea/
*.sln.iml

.vs/

*.log
*.tmp
*.bak

*.nuget.props
*.nuget.targets
packages/

appsettings.Development.json
appsettings.Local.json